body {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  margin: 50px;
  color: #2f4F4F;
}

.page {
  height: 100%;
  flex-basis: 1;
}

h1 {
  font-size: 36px;
}

p {
  margin-bottom: 50px;
}

#pie_div {
  height: 500px;
}

#regions_div {
  width: 800px;
  margin-bottom: 50px;
}

#timeline {
  height: 100px;
  margin-bottom: -125px;
}